<section>
  <table class="table table-hover table-striped">
    <thead>
      <tr><th>Date</th><th>Snack</th><th>Price</th><th>Quantity</th><th>Sum</th><th>Actions</th></tr>  
    </thead>
    <tbody>
      <tr ng-repeat="s in entries" ng-switch="s.IsSnack">
       <td ng-switch-when="true">{{s.Date | date:'yyyy-MM-dd'}}</td>
        <td ng-switch-when="true">{{s.SnackName}}</td>
        <td ng-switch-when="true">{{s.PricePerUnit | currency:"€ "}}</td>
        <td ng-switch-when="true">{{s.Quantity}}</td>
        <td ng-switch-when="true">{{s.PricePerUnit * s.Quantity | currency:"€ "}}</td>
        <td ng-switch-when="true"> <button class="btn btn-primary btn-sm" ui-sref="edit-snack({ id: s.id })">Edit</button>
        <button class="btn btn-warning btn-sm" a ui-sref="delete-snack({ id: s.id })">Delete</button></td>
      </tr>
      <tr ng-repeat="s in entries" ng-switch="s.IsSnack">
        <td ng-switch-when="false">{{s.Date | date:'yyyy-MM-dd'}}</td>
        <td ng-switch-when="false" class="payment" colspan="3">Payment</td>
        <td ng-switch-when="false" colspan="3">{{s.Amount | currency:"€ "}}</td>
      </tr>
    </tbody>
     <tfoot>
      <tr>
        <td colspan="3">Sum:</td>
        <th>{{ snacks | sumOfValue: 'Quantity'}}</th>
        <th colspan="2">{{ entries | totalSumPriceQty: 'Quantity' : 'PricePerUnit' | currency:"€ "}}</th>
      </tr>
    </tfoot>
  </table>
</section>
