<section>
  <form name="form" ng-submit="submitForm()">
    
      <legend>{{action}} Snack</legend>
      <div class="row">
        <fieldset class="form-group col-md-3">
          <label>Snack name</label>
          <input type="text" bs3-typeahead ng-model="snack.Name" class="form-control" bs3-source = "SnackTypes"/>
        </fieldset>
        
        <fieldset class="form-group col-md-3">
          <label>Price</label>
          <div class="input-group">
            <div class="input-group-addon">€</div>
            <input type="text" ng-model="snack.PricePerUnit" class="form-control"/>
          </div>
        </fieldset>
  
        <fieldset class="form-group col-md-3">
          <label>Quantity</label>
          <input type="number" ng-model="snack.Quantity" class="form-control"/>
        </fieldset>
      </div>
      <button class="btn btn-primary">{{action}} Snack</button>
  </form>
<section>
